@tailwind;

html {
  font-family: system-ui, sans-serif;
  background: #01012B;
  background-size: 224px;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
  color: white;
}

code {
  font-family: Menlo,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New,
  monospace;
}

.button {
  width: 16rem;
  height: 4.5rem;
  border-radius: .25rem;
  border: none;
  text-align: center;
  align-content: center;
  text-decoration: none;

  cursor: pointer;
  transition: scale 0.2s cubic-bezier(.68, -0.55, .27, 1.55),
  translate 0.2s cubic-bezier(.68, -0.55, .27, 1.55);
}

.button:hover {
  scale: 1.1;
}

.buttons {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 90%;
}


